p {
  font-family: "Press Start 2P";
}

span {
  font-family: "Press Start 2P";
}

body {
 background-image: url("/poke-background.png");
 background-color: #cccccc;
}

/* smartphones, iPhone, portrait 480x320 phones */

@media screen and (min-width:20em) {

  /* HOME */

  .container.is-dark {
    position: absolute;
    top: 0;
    max-height: 35vh;
    width: 100%;
  }

  .intro-message {
    color: white;
  }


  .home-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 45vh; */
    min-height: 100vh;
    line-height: 6vh;
  }

  .home-titles label {
    font-family: "Press Start 2P";
    font-size: 90%;
  }

  .home-titles p {
    font-size: 70%;
  }

  .titles {
    padding-top: 0.1rem;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 8.5vh;
  }

  .titles label {
    font-family: "Press Start 2P";
    font-size: 4vw;
  }

  .sprite-box {
    visibility: hidden;
    /* position: absolute; */
  }

  .sprite-man {
    visibility: hidden;
    /* position: relative;
    width: 80%;
    margin-top: -122vh; */
  }

  .container p {
    font-size: 70%;
  }

  .message {
    max-width: 95vw;
    margin-left: -12vw;
    max-height: 50vh;
  }

  .bio p {
    font-size: 60%;
  }

  .bio {
    overflow: scroll;
    max-height: 33vh;
  }


  /* ###############  controller ############################ */

  .navcon-box {
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
  }

  .NavCon {
    position: absolute;
    bottom: 0;
    font-size: 5vw;
  }

  .cable{
    background-color: transparent;
    width: 1vw;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    box-shadow: 7px 8px 15px rgba(0,0,0,0.2);
  }

  .controller{
    max-height: 30vh;
    bottom: 0;
    width: 75vw;
    background-color: #E6E6E6;
    position: absolute;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
  }

  /* .controllerLeft{
    width: 15vw;
    height:0;
    padding-bottom: 15vw;
    -moz-border-radius: 50vw;
    -webkit-border-radius: 50vw;
    border-radius: 50vw;
    background-color: #E6E6E6;
    position: absolute;
    margin-left: -8vw;
    box-shadow: -15px 8px 15px rgba(0,0,0,0.2);
  } */

  .controllerRight{
    width: 50vw;
    height:0;
    padding-bottom: 50vw;
    -moz-border-radius: 50vw;
    -webkit-border-radius: 50vw;
    border-radius: 50vw;
    background-color: #E6E6E6;
    position: relative;
    margin-left: 51vw;
    box-shadow: 15px 8px 15px rgba(0,0,0,0.2);
  }

  .controllerRightCircle {
    position: absolute;
    margin-left: 3vw;
    width: 44vw;
    height:0;
    padding-bottom: 44vw;
    -moz-border-radius: 40vw;
    -webkit-border-radius: 40vw;
    border-radius: 40vw;
    margin-top: 2vh;
    background-color: #B8B8B8;
  }

  /* .circle{
    background-color: #B8B8B8;
    position: absolute;
    margin-left: 12%;
    margin-top: 12%;

    width: 75%;
    height:0;
    padding-bottom: 75%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  } */

  /* .circleLeft {
    position: absolute;
    background-color: #E6E6E6;
    margin-left: 4%;
    margin-top: 4.2%;

    width: 92%;
    height:0;
    padding-bottom: 92%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  } */

  /* .crossCenter{
    background-color: #333333;
    width: 15%;
    height: 15%;
    margin-top: 42%;
    margin-left: 41%;
    position: absolute;
  } */

  /* .crossCircle{
    background-color: #292929;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
  } */

  /* .crossTop{
    visibility: hidden;
    background-color: #333333;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15%;
    margin-top: -86%;
  } */

  /* .crossBottom{
    background-color: #333333;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15%;
    margin-top: 86%;
  } */

  /* .crossLeft{
    background-color: #333333;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15%;
    margin-left: -86%;
  } */

  /* .crossRight{
    background-color: #333333;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15%;
    margin-left: 86%;
  } */

  .centerBlue{
    position: absolute;
    width: 30vw;
    height: 8vh;
    margin-left: 13vw;
    margin-top: 2vh;
    border-radius: 20px;
    background-color: #0099FF;
  }

  .home-icon {
    display: flex;
    justify-content: center;
  }

  .fa-home {
    position: absolute;
    font-size: 10vw;
    padding-top: 0.15em;
  }

  .backButton1Center{
    position: absolute;
    width: 24vw;
    height: 7.5vh;
    background-color: #E6E6E6;
    -webkit-transform: rotate(-30deg);
    margin-top: 7vh;
    margin-left: 8.5vw;
  }

  .backButton2Center{
    position: absolute;
    width: 24vw;
    height: 7.5vh;
    background-color: #E6E6E6;
    -webkit-transform: rotate(-30deg);
    margin-top: 16vh;
    margin-left: 17vw;
  }

  .cornerLeftBack1 {
    position: absolute;
    background-color: #E6E6E6;
    margin-left: -26%;
    width: 13vw;
    height:0;
    padding-bottom: 13vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerLeft1{
    position: relative;
    background-color: #00B800;
    margin-left: 1.5vw;
    margin-top: 0.5vh;
    width: 11vw;
    height:0;
    padding-bottom: 11vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerLeft1 p {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top: -0.3em;
    text-align:center;
    -webkit-transform: rotate(30deg);
    margin-left: 1.5vw;
    font-size: 6vw;
    color: #E6E6E6;
  }

  .cornerRightBack1 {
    position: absolute;
    background-color: #E6E6E6;
    margin-left: 17.5vw;
    width: 13vw;
    height:0;
    padding-bottom: 13vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerRight1{
    position: relative;
    background-color: #6699FF;
    margin-left: 1vw;
    margin-top: 0.5vh;
    width: 11vw;
    height:0;
    padding-bottom: 11vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerRightBack1 p {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.3em;
    text-align:center;
    -webkit-transform: rotate(30deg);
    margin-left: 2vw;
    font-size: 6vw;
    color: #E6E6E6;
  }

  .cornerLeftBack2 {
    position: absolute;
    background-color: #E6E6E6;
    margin-left: -6vw;
    width: 13vw;
    height:0;
    padding-bottom: 13vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerLeft2{
    background-color: #CFCF00;
    position: relative;
    margin-left: 1vw;
    margin-top: 0.5vh;
    width: 11vw;
    height:0;
    padding-bottom: 11vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerLeft2 p {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top: -1.2vh;
    text-align:center;
    -webkit-transform: rotate(30deg);
    margin-left: 1vw;
    font-size: 6vw;
    color: #E6E6E6;
  }

  .cornerRightBack2 {
    position: absolute;
    background-color: #E6E6E6;
    margin-left: 17vw;
    width: 13vw;
    height:0;
    padding-bottom: 13vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerRight2{
    position: relative;
    background-color: #7D230D;
    margin-left: 1vw;
    margin-top: 0.5vh;
    width: 11vw;
    height:0;
    padding-bottom: 11vw;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerRight2 p {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top: -1.5vh;
    text-align:center;
    -webkit-transform: rotate(30deg);
    margin-left: 1.5vw;
    font-size: 6vw;
    color: #E6E6E6;
  }

  /* ########## projects page ##############*/

  /* TV */

  #unit{
    width: 94vw;
    height: 45vh;
    background: linear-gradient(135deg, #777266 0%,#2c2522 100%);
    position:absolute;
    left: 3vw;
    top: 8vh;
    border-radius: 5px;
    border-top: 1px solid #898378;
    box-shadow:inset 0px -4px 10px rgba(0,0,0,0.2), 0px 10px 12px rgba(0,0,0,0.6);
  }

  #frame{
    width: 80vw;
    height: 42vh;
    background: linear-gradient(135deg, #d2cebf 0%,#655d4f 100%);
    top: 1.5vh;
    left: 1vw;
    position:absolute;
    border-radius:15px;
    box-shadow:inset 0px 0px 5px black;
    border:2px solid rgba(0,0,0,0.6);
  }

  #panel{
    position:absolute;
    width: 10vw;
    height: 42vh;
    background: linear-gradient(135deg, #d2cebf 0%,#655d4f 100%);
    right: 1.5vw;
    top: 1.5vh;
    border-radius:2px;
  }

  #dial1{
    box-shadow:0px 3px 3px rgba(0,0,0,0.5);
    top: 2vh;
    left: 0.5vw;
    border-bottom:2px solid #2c2522;
    border-top:2px solid #ada598;
    position:absolute;
    background: linear-gradient(135deg, #777266 0%,#2c2522 100%);
    width: 9vw;
    height:0;
    padding-bottom: 9vw;
    -moz-border-radius: 50vw;
    -webkit-border-radius: 50vw;
    border-radius: 50vw;
  }

  #dial2{
    box-shadow:0px 3px 3px rgba(0,0,0,0.5);
    top: 12vh;
    left: 0.5vw;
    border-bottom:2px solid #2c2522;
    border-top:2px solid #ada598;
    position:absolute;
    background: linear-gradient(135deg, #777266 0%,#2c2522 100%);
    width: 9vw;
    height:0;
    padding-bottom: 9vw;
    -moz-border-radius: 50vw;
    -webkit-border-radius: 50vw;
    border-radius: 50vw;
  }

  #speaker{
    width: 8vw;
    height: 18vh;
    box-shadow:inset 0px 3px 3px rgba(0,0,0,0.5);
    top: 22vh;
    left: 1vw;
    border-bottom:2px solid #2c2522;
    border-top:2px solid #ada598;
    position:absolute;
    background: linear-gradient(135deg, #d2cebf 0%,#655d4f 100%);
    border-radius:5px;
  }

  #screen{
    width: 78vw;
    height: 41vh;
    position:absolute;
    background: #fbf2e2;
    border-radius:15px;
    left: 0.5vw;
  }

  /* */

  .proj-select {
    position: absolute;
    bottom: 0;
    border-top: 5px outset #655d4f;
    background-color: #ffae4e;
    max-height: 13vh;
    width: 100%;
  }

  .proj-nav {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    text-align: center;
    padding-left: 1rem;
  }

  .proj-nav input[type="radio"] {
    display: none;
  }

  .proj-select img {
    width: 70%;
    border-radius: 20px;
  }

  .proj-select h2 {
    font-family: "Press Start 2P";
  }

  .proj-box {
    position: relative;
    height: 30vh;
    width: 100%;
  }

  .proj-open-info {
    position: absolute;
    display: table;
    left: 12vw;
    top: 5vh;
    width: 55vw;
  }

  .proj-open-info p {
    font-size: 2.5vw;
    font-family: "Press Start 2P";
    line-height: 5vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .proj-box img {
    width: 20%;
    height: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .proj-box label {
    font-family: "Press Start 2P";
    font-size: 3vw;
  }

  .proj {
    position: absolute;
  }

  .proj-info {
    padding-top: 1vh;
    display: table;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .proj-info p {
    padding-top: 1vh;
    font-size: 2.2vw;
    width: 75vw;
    padding-left: 1vw;
  }

  .link-icons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;
    top: -2vh;
  }

  .link-icons img {
    width: 13vw;
    height: 8vh;

    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 5px;
  }

  .githubby {
    position: relative;
  }

  /* ############# about page ############### */

  .message {
    max-width: 97vw;
    margin-left: -50vw;
    position: absolute;
  }

  .bcrikko {
    visibility: hidden;
  }

  .balloon {
    position: relative;
    height: 39vh;
  }

  .bio p {
    font-size: 55%;
  }

  .bio {
    border: 1px solid white;
    overflow: scroll;
    max-height: 35vh;
  }

  /* #################### blogs ############# */

  .blogbox {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 45vh;
    border-radius: 3px;
    top: 8vh;
    left: 5vw;
    border: 0.5px outset white;
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.2);
    background-image: radial-gradient(closest-side, #EADFDF 59%, #ECE2DF 100%), radial-gradient(closest-side, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
  }

  .blogbox-top {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px dotted black;
  }

  .blogbox-top label {
    font-size: 4vw;
  }

  .bloggy {
    position: relative;
    padding-top: 0.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5vh;
  }

  .bloggy p {
    font-size: 2.8vw;
    padding-left: 2vw;
  }

  .bloggy img {
    width: 12vw;
    height: 7vh;
    border-radius: 10px;
    margin-right: 6vw;
  }

  /* ########## contact page ############ */

  .contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding-top: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    line-height: 1.6rem;
    top: 0;
  }

  .contact-info p {
    font-size: 2.9vw;
  }

  .gameover {
    width: 30vw;
  }

  .personal-pages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top: 42vh;
  }

  .personal-pages img {
    width: 14vw;
    height: 8vh;
    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 5px;
  }


}

  /* ######################################################## */


/* tablet, landscape iPad, lo-res laptops ands desktops */

@media screen and (min-width:60em) {

  /* HOME */

  .intro-container {
    position: fixed;
    bottom: 0;
    height: 18vh;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  .intro-message {
    color: white;
  }

  .home-titles {
    padding-left: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 8vh;
    min-height: 20vh;
  }

  .home-titles label {
    font-family: "Press Start 2P";
    font-size: 1.5vw;
  }

  .home-titles p {
    font-size: 1vw;
  }

  .titles {
    padding-top: 0.1rem;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titles label {
    font-family: "Press Start 2P";
    font-size: 1.5vw;
  }

  .sprite-box {
    visibility: visible;
    position: fixed;
  }

  .sprite-man {
    visibility: visible;
    position: relative;
    width: 12vw;
    margin-top: 25vh;
  }

  .container p {
    font-size: 1.2vw;
  }

  /* ###############  controller ############################ */

  .home-icon {
    display: flex;
    justify-content: center;
  }

  .fa-home {
    position: absolute;
    font-size: 2vw;
  }

  .fa-home:hover {
    font-size: 1.9vw;
  }

  .cable{
    background-color: black;
    width: 0.5vw;
    height: 45vh;
    position: absolute;
    margin-left: 79vw;
    top: 0;
    box-shadow: 7px 8px 15px rgba(0,0,0,0.2);
  }

  .controller{
    margin-top: 20vh;
    margin-left: -13vw;
    max-height: 24vh;
    width: 25vw;
    background-color: #E6E6E6;
    position: absolute;
    box-shadow: 15px 15px 15px rgba(0,0,0,0.2);
  }


  .navcon-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .NavCon {
    position: absolute;
    bottom: 0;
    margin-left: -0.5vw;
    font-size: 1.2vw;
  }

  .controllerLeft{
    width: 15vw;
    height:0;
    padding-bottom: 15vw;
    -moz-border-radius: 50vw;
    -webkit-border-radius: 50vw;
    border-radius: 50vw;
    background-color: #E6E6E6;
    position: absolute;
    margin-left: -8vw;
    box-shadow: -15px 8px 15px rgba(0,0,0,0.2);
  }

  .controllerRight{
    width: 15vw;
    height:0;
    padding-bottom: 15vw;
    -moz-border-radius: 50vw;
    -webkit-border-radius: 50vw;
    border-radius: 50vw;
    background-color: #E6E6E6;
    position: relative;
    margin-left: 18vw;
    box-shadow: 15px 8px 15px rgba(0,0,0,0.2);
  }

  .controllerRightCircle {
    position: absolute;
    margin-left: 10%;
    width: 80%;
    height:0;
    padding-bottom: 80%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: 10%;
    background-color: #B8B8B8;
  }

  .circle{
    background-color: #B8B8B8;
    position: absolute;
    margin-left: 12%;
    margin-top: 12%;

    width: 75%;
    height:0;
    padding-bottom: 75%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .circleLeft {
    position: absolute;
    background-color: #E6E6E6;
    margin-left: 4%;
    margin-top: 4.2%;

    width: 92%;
    height:0;
    padding-bottom: 92%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .crossCenter{
    background-color: #333333;
    width: 15%;
    height: 15%;
    margin-top: 42%;
    margin-left: 41%;
    position: absolute;
  }

  .crossCircle{
    background-color: #292929;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
  }

  .crossTop{
    background-color: #333333;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15%;
    margin-top: -86%;
  }

  .crossBottom{
    background-color: #333333;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15%;
    margin-top: 86%;
  }

  .crossLeft{
    background-color: #333333;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15%;
    margin-left: -86%;
  }

  .crossRight{
    background-color: #333333;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15%;
    margin-left: 86%;
  }

  .centerBlue{
    position: absolute;
    width: 6vw;
    max-height: 5vh;
    margin-left: 10vw;
    margin-top: 3vh;
    background-color: #0099FF;
  }

  .backButton1Center{
    position: absolute;
    width: 44%;
    height: 22%;
    background-color: #E6E6E6;
    -webkit-transform: rotate(-30deg);
    margin-top: 25%;
    margin-left: 20%;
  }

  .backButton2Center{
    position: absolute;
    width: 44%;
    height: 22%;
    background-color: #E6E6E6;
    -webkit-transform: rotate(-30deg);
    margin-top: 52%;
    margin-left: 35%;
  }

  .cornerLeftBack1 {
    position: absolute;
    background-color: #E6E6E6;
    margin-left: -20%;
    width: 50%;
    height:0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerLeft1{
    position: relative;
    background-color: #00B800;
    margin-left: 10%;
    margin-top: 9%;
    width: 80%;
    height:0;
    padding-bottom: 80%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerLeft1 p {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.3em;
    text-align:center;
    -webkit-transform: rotate(30deg);
    margin-left: 0.5vw;
    font-size: 1.4vw;
    color: #E6E6E6;
  }

  .cornerLeft1:hover {
    margin-left: 12%;
    margin-top: 12%;
    width: 77%;
    height:0;
    padding-bottom: 77%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  /* HOVER BUBBLES */


  /* */

  .cornerRightBack1 {
    position: absolute;
    background-color: #E6E6E6;
    margin-left: 70%;
    width: 50%;
    height:0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerRightBack1 p {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.3em;
    text-align:center;
    -webkit-transform: rotate(30deg);
    margin-left: 0.5vw;
    font-size: 1.4vw;
    color: #E6E6E6;
  }


  .cornerRight1{
    position: relative;
    background-color: #6699FF;
    margin-left: 12%;
    margin-top: 8%;
    width: 80%;
    height:0;
    padding-bottom: 80%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerRight1:hover {
    margin-left: 14%;
    margin-top: 10%;
    width: 77%;
    height:0;
    padding-bottom: 77%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerLeftBack2 {
    position: absolute;
    background-color: #E6E6E6;
    margin-left: -20%;
    width: 50%;
    height:0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerLeft2 p {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.3em;
    text-align:center;
    -webkit-transform: rotate(30deg);
    margin-left: 0.5vw;
    font-size: 1.4vw;
    color: #E6E6E6;
  }

  .cornerLeft2{
    background-color: #CFCF00;
    position: relative;
    margin-left: 10%;
    margin-top: 9%;
    width: 80%;
    height:0;
    padding-bottom: 80%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }


  .cornerLeft2:hover {
    margin-left: 12%;
    margin-top: 12%;
    width: 77%;
    height:0;
    padding-bottom: 77%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerRightBack2 {
    position: absolute;
    background-color: #E6E6E6;
    margin-left: 70%;
    width: 50%;
    height:0;
    padding-bottom: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerRight2{
    position: relative;
    background-color: #7D230D;
    margin-left: 12%;
    margin-top: 8%;
    width: 80%;
    height:0;
    padding-bottom: 80%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .cornerRight2 p {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.3em;
    text-align:center;
    -webkit-transform: rotate(30deg);
    margin-left: 0.5vw;
    font-size: 1.4vw;
    color: #E6E6E6;
  }

  .cornerRight2:hover {
    margin-left: 14%;
    margin-top: 10%;
    width: 77%;
    height:0;
    padding-bottom: 77%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  /* ############## projects page ################ */

  /* TV */

  #unit{
    width: 53vw;
    height: 70vh;
    background: linear-gradient(135deg, #777266 0%,#2c2522 100%);
    position:absolute;
    left: 3vw;
    /* margin-left:-170px; */
    top: 20vh;
    /* margin-top:-120px; */
    border-radius: 5px;
    border-top: 1px solid #898378;
    box-shadow:inset 0px -4px 10px rgba(0,0,0,0.2), 0px 10px 12px rgba(0,0,0,0.6);
  }

  #frame{
    width: 43vw;
    height: 67vh;
    background: linear-gradient(135deg, #d2cebf 0%,#655d4f 100%);
    top: 1.5vh;
    left: 1vw;
    position:absolute;
    border-radius:15px;
    box-shadow:inset 0px 0px 5px black;
    border:2px solid rgba(0,0,0,0.6);
  }

  #panel{
    position:absolute;
    width: 7.5vw;
    height: 66vh;
    background: linear-gradient(135deg, #d2cebf 0%,#655d4f 100%);
    right: 1vw;
    top: 1.5vh;
    border-radius:2px;
  }

  #dial1{
    box-shadow:0px 3px 3px rgba(0,0,0,0.5);
    top: 2vh;
    left: 0.6vw;
    border-bottom:2px solid #2c2522;
    border-top:2px solid #ada598;
    position:absolute;
    background: linear-gradient(135deg, #777266 0%,#2c2522 100%);
    width: 6vw;
    height:0;
    padding-bottom: 6vw;
    -moz-border-radius: 50vw;
    -webkit-border-radius: 50vw;
    border-radius: 50vw;
  }

  #dial2{
    box-shadow:0px 3px 3px rgba(0,0,0,0.5);
    top: 20vh;
    left: 0.6vw;
    border-bottom:2px solid #2c2522;
    border-top:2px solid #ada598;
    position:absolute;
    background: linear-gradient(135deg, #777266 0%,#2c2522 100%);
    width: 6vw;
    height:0;
    padding-bottom: 6vw;
    -moz-border-radius: 50vw;
    -webkit-border-radius: 50vw;
    border-radius: 50vw;
  }

  #speaker{
    width: 6vw;
    height: 25vh;
    box-shadow:inset 0px 3px 3px rgba(0,0,0,0.5);
    top: 38vh;
    left: 0.6vw;
    border-bottom:2px solid #2c2522;
    border-top:2px solid #ada598;
    position:absolute;
    background: linear-gradient(135deg, #d2cebf 0%,#655d4f 100%);
    border-radius:5px;
  }

  #screen{
    width: 42vw;
    height: 65vh;
    position:absolute;
    background: #fbf2e2;
    border-radius:10px;
    border:5px solid black;
    top: 0.6vh;
    left: 0.3vw;
  }

  /* */


  .proj-box img {
    width: 20%;
    height: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .proj-box {
    position: relative;
    /* border: 3px solid red; */
    height: 46vh;
    width: 41.3vw;
  }

  .proj-box label {
    font-family: "Press Start 2P";
    text-decoration: underline;
    font-size: 1.6vw;
  }

  .proj-open-info {
    position: absolute;
    display: table;
    left: 5vw;
    top: 15vh;
    width: 30vw;
  }

  .proj-open-info p {
    font-size: 1.2vw;
    font-family: "Press Start 2P";
    line-height: 5vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .proj {
    position: absolute;
  }

  .proj-info {
    padding-top: 2vh;
    display: table;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .proj-info p {
    padding-top: 4vh;
    font-size: 1vw;
    width: 40vw;
  }

  .link-icons {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;
  }

  .link-icons img {
    width: 5vw;
    height: 10vh;

    margin-right: 2vw;
    margin-left: 2vw;
    border-radius: 5px;
  }

  .githubby {
    position: relative;
  }

  .proj-nav {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    text-align: center;
  }

  .proj-select {
    position: absolute;
    bottom: 0;
    border-top: 10px outset #655d4f;
    background-color: #ffae4e;
    max-height: 20vh;
  }

  .proj-select img {
    width: 50%;
    border: 12px solid #ffae4e;
    border-radius: 20px;
  }

  .proj-select img:hover {
    border: 12px solid #00d6ff;
    border-radius: 20px;
  }

  .proj-select h2 {
    font-family: "Press Start 2P";
    /* background-color: transparent; */
  }

  /* ############# about page ########### */

  .message {
    max-width: 55vw;
    margin-left: -49vw;
    position: absolute;
  }

  .bcrikko {
    visibility: visible;
  }

  .balloon {
    position: relative;
    height: 70vh;
  }

  .bio p {
    font-size: 0.8vw;
  }

  .bio {
    border: 1px solid white;
    overflow: scroll;
    max-height: 68vh;
  }

  /* ########### blog page ############## */

.blogbox {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 70vh;
  border-radius: 3px;
  top: 20.2vh;
  left: 5vw;
  border: 0.5px outset white;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.2);
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: screen;
  overflow: scroll;
}

.blogbox-top {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 4px dotted black;
}

.blogbox-top label {
  font-size: 1.2vw;
}

.bloggy {
  position: relative;
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border-bottom: 0.02px solid black; */
  padding-bottom: 1vh;
  /* justify-content: space-around; */
}

.bloggy p {
  font-size: 1vw;
  padding-left: 2vw;
}

.bloggy img {
  width: 5vw;
  height: 10vh;
  border-radius: 10px;
  margin-right: 6vw;
}

/* ########### contact page ############## */

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: 50vh;
}

.contact-info p {
  font-size: 1.1vw;
}

.gameover {
  width: 15vw;
  margin-top: -45vh;
}

.personal-pages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  margin-top: 32vh;
}

.personal-pages img {
  width: 4vw;
  height: 8vh;
  margin-right: 2vw;
  margin-left: 2vw;
  border-radius: 5px;
}


}
