p {
  font-family: "Press Start 2P";
}

span {
  font-family: "Press Start 2P";
}

body {
 background-image: url("/poke-background.png");
 background-color: #cccccc;
}

/* ############### INTRO TITLES ######################### */

.titles {
  padding-left: 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 8vh;
}

.titles label {
  font-family: "Press Start 2P";
  font-size: 130%;
}

.titles p {
  font-size: 90%;
}

.sprite-box {
  position: fixed;
}

.sprite-man {
  position: relative;
  width: 160%;
  margin-top: 25vh;
  /* margin-left: 10vw; */
}

/* ######################################## */

/* ############### INTRO CONTAINER ######################### */

.intro-container {
  position: fixed;
  /* overflow: auto; */
  /* center the element */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  /* give it dimensions */
  /* min-height: 10em; */
  width: 100%;
  /* top: 100vh; */
  bottom: 0;
}

.container.with-title {
  padding-top: 2rem;
}


.container p {
  color: white;
}

.container {
  position: relative;
  padding: 0rem 1.5rem;
}

* {
  box-sizing: border-box;
}

.container.is-dark::before {
  background-color: #212529;
}

.container::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.container::before {
  position: absolute;
  z-index: -1;
  content: "";
}

*::before {
  box-sizing: border-box;
}

.container.is-dark::after {
  border-color: #fff;
}

.container::after {
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  border-color: #212529;
  border-style: solid;
  border-width: 4px;
  border-radius: 4px;
}

.container::after {
  position: absolute;
  z-index: -1;
  content: "";
}

*::after {
  box-sizing: border-box;
}

/* ############################################### */

/* ##################### Nav Bar ################## */

.navbar-container {
  /* position: fixed; */
  display: inline-block;
  float: right;
  padding-right: 0.5rem;
  padding-top: 2rem;
  /* margin-left: 50vw; */
  /* height: 0; */
  /* margin-left: 210px; */
}

.radios {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  border-color: #212529;
  border-style: solid;
  padding: 1rem 1rem;
  line-height: 6vh;
  background-color: white;
  border-radius: 4px;
  /* margin-left: 52vw; */
  /* justify-content: flex-end; */
}

.other-navbar-container {
  display: inline-block;
  float: right;
  padding-right: 0.5rem;
  padding-top: 6rem;
  /* margin-left: 50vw; */
  /* height: 0; */
  /* margin-left: 210px; */
}

.other-radios {
  /* position: fixed; */
  /* position: relative; */
  display: flex;
  flex-direction: column;
  border-color: #212529;
  border-style: solid;
  padding: 1rem 1rem;
  line-height: 6vh;
  background-color: white;
  border-radius: 4px;
  /* margin-left: 52vw; */
  /* justify-content: flex-end; */
}

/* .radios span {
  color: white;
} */

/* ################################################### */

/* ##################### Media Queries ################## */

/* galaxy s5 */

@media screen and (max-width: 400px) and (max-height: 820px) {

  /* ############### INTRO TITLES ######################### */

  .titles {
    padding-left: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 6vh;
  }

  .titles label {
    font-family: "Press Start 2P";
    font-size: 110%;
  }

  .titles p {
    font-size: 80%;
  }

  .sprite-box {
    position: fixed;
  }

  .sprite-man {
    position: relative;
    width: 100%;
    margin-top: 25vh;
    /* margin-left: 10vw; */
  }

  /* ######################################## */

  /* ##################### Nav Bar ################## */

  .navbar-container {
    /* position: fixed; */
    display: inline-block;
    float: right;
    padding-right: 0.5rem;
    padding-top: 2rem;
    /* margin-left: 50vw; */
    /* height: 0; */
    /* margin-left: 210px; */
  }

  .radios {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    border-color: #212529;
    border-style: solid;
    padding: 1rem 1rem;
    line-height: 4.5vh;
    background-color: white;
    border-radius: 4px;
    /* margin-left: 52vw; */
    /* justify-content: flex-end; */
  }

  .other-navbar-container {
    padding-top: 2rem;
    position: fixed;
    right: 0;
    left: 0;
    height: 26.1vh;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 100%;
    bottom: 0;
  }

  .other-radios {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-between; */
    border: 3px outset #212529;
    padding: 1rem 1rem;
    line-height: 6vh;
    background-color: white;
    border-radius: 4px;
    bottom: 0;
  }

  .other-radios span {
    /* border-right: solid black; */
    /* padding-right: 2%; */
  }

  /* ################################################### */

}

/* pixel 2 */

@media screen and (min-width: 410px) and (min-height: 730px) {

  .other-navbar-container {
    padding-top: 2rem;
    position: fixed;
    right: 0;
    left: 0;
    height: 26.1vh;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 100%;
    bottom: 0;
  }

  .other-radios {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 3px outset #212529;
    padding: 1rem 1rem;
    line-height: 6vh;
    background-color: white;
    border-radius: 4px;
    bottom: 0;
  }

}

/* pixel 2 XL */

@media screen and (min-width: 410px) and (min-height: 820px) {

  .other-radios {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-between; */
    border: 3px outset #212529;
    padding: 1rem 1rem;
    line-height: 6vh;
    background-color: white;
    border-radius: 4px;
    bottom: 0;
  }

}

/* iphone5 */

@media screen and (max-width: 325px) and (max-height: 580px) {

  /* ############### INTRO TITLES ######################### */

  .titles {
    padding-left: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 6vh;
  }

  .titles label {
    font-family: "Press Start 2P";
    font-size: 90%;
  }

  .titles p {
    font-size: 70%;
  }

  .sprite-box {
    position: fixed;
  }

  .sprite-man {
    position: relative;
    width: 80%;
    margin-top: 22vh;
    /* margin-left: 10vw; */
  }

  /* ######################################## */

  /* ##################### Nav Bar ################## */

  .navbar-container {
    /* position: fixed; */
    display: inline-block;
    float: right;
    padding-right: 0.5rem;
    padding-top: 1rem;
    /* margin-left: 50vw; */
    /* height: 0; */
    /* margin-left: 210px; */
  }

  .radios {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    border-color: #212529;
    border-style: solid;
    padding: 1rem 1rem;
    line-height: 4vh;
    background-color: white;
    border-radius: 4px;
    /* margin-left: 52vw; */
    /* justify-content: flex-end; */
  }

  .other-navbar-container {
    padding-top: 2rem;
    position: fixed;
    right: 0;
    left: 0;
    height: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 100%;
    bottom: 0;
  }

  .other-radios {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-between; */
    border: 3px outset #212529;
    padding: 1rem 1rem;
    line-height: 6vh;
    background-color: white;
    border-radius: 4px;
    bottom: 0;
  }

  .other-radios span {
    font-size: 80%;
  }

  /* ################################################### */

}

/* iphone 6/7/8 */

@media screen and (min-width: 370px) and (min-height: 660px) {

  .other-radios {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: space-between; */
    border: 3px outset #212529;
    padding: 1rem 1rem;
    line-height: 6vh;
    background-color: white;
    border-radius: 4px;
    bottom: 0;
  }

}

/* iphone x */

@media screen and (min-height: 812px) {

  /* ############### INTRO TITLES ######################### */

  .titles {
    padding-left: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 6vh;
  }

  .titles label {
    font-family: "Press Start 2P";
    font-size: 110%;
  }

  .titles p {
    font-size: 80%;
  }

  .sprite-box {
    position: fixed;
  }

  .sprite-man {
    position: relative;
    width: 100%;
    margin-top: 41vh;
    /* margin-left: 10vw; */
  }

  /* ######################################## */

  /* ##################### Nav Bar ################## */

  .navbar-container {
    /* position: fixed; */
    display: inline-block;
    float: right;
    padding-right: 0.5rem;
    padding-top: 2rem;
    /* margin-left: 50vw; */
    /* height: 0; */
    /* margin-left: 210px; */
  }

  .radios {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    border-color: #212529;
    border-style: solid;
    padding: 1rem 1rem;
    line-height: 8vh;
    background-color: white;
    border-radius: 4px;
    /* margin-left: 52vw; */
    /* justify-content: flex-end; */
  }

  .other-navbar-container {
    padding-top: 2rem;
    position: fixed;
    right: 0;
    left: 0;
    height: 23vh;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 100%;
    bottom: 0;
  }

  .other-radios {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    border-color: #212529;
    border-style: solid;
    padding: 1rem 1rem;
    line-height: 6vh;
    background-color: white;
    border-radius: 4px;
    /* margin-left: 52vw; */
    /* justify-content: flex-end; */
  }
  /* ################################################### */

}

/* ########################################### */
